<!DOCTYPE html>
<html>
<head>
    <title>Gift</title>
    <style>
        body { display:flex; flex-wrap:wrap; justify-content:center; align-items:center; height:100vh; }
        a button { width:300px; height:200px; font-size:20px; margin:20px; }
    </style>
</head>
<body>
    <a href="/photos"><button>Photo Button</button></a>
    <a href="/flowers"><button>Flowers</button></a>
    <a href="/song"><button>Song</button></a>
    <a href="/text"><button>Love Letter</button></a>
</body>
</html>
